<div  class="sidebar fixed" id="sidebar">
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<b>MENU UTAMA</b>
	</div>
	<ul class="nav nav-list">
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}beranda');$('#judul_kecil').html('Dashboard App')">
				<i class="icon-bar-chart"></i>
				<span class="menu-text">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-book"></i>
				<span class="menu-text">WebSite Seting</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-grid/slider');$('#judul_kecil').html('Manajemen Gambar Slider Beranda')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Slider</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-grid/kontent');$('#judul_kecil').html('Kontent Website')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Konten / Isi</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-form/profile');$('#judul_kecil').html('Kontent Website')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Informasi Perusahaan</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-grid/produk');$('#judul_kecil').html('Management File')">
				<i class="icon-briefcase"></i>
				<span class="menu-text">Produk</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-grid/management_file');$('#judul_kecil').html('Management File')">
				<i class="icon-briefcase"></i>
				<span class="menu-text">Order</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-book"></i>
				<span class="menu-text">Report</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Report/inv_paid');$('#judul_kecil').html('Report Invoice Paid')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text"> Report Order </span>
					</a>
				</li>
				
			</ul>
		</li>
				
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-group"></i>
				<span class="menu-text">Setting</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-Grid/group');$('#judul_kecil').html('Group User')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">About Us</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-Grid/unit');$('#judul_kecil').html('Unit Kerja Data')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Kontak Kami</span>
					</a>
				</li>
				
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-Grid/user_mng');$('#judul_kecil').html('USer Management Application')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Member List</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-Grid/mapping');$('#judul_kecil').html('Mapping User LDAP Group dan Unit')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">WebSite Seting</span>
					</a>
				</li>
				<!--li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Member Access Control</span>
					</a>
				</li-->
			</ul>
		</li>
	</ul>
	
	
		
	
	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>